.login-box {
    display: flex;
}

.login-buttons {
    border: 2px solid black;
    margin-right: 5rem;
}

.login-buttons button {
    display: block;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    margin: 2rem;
    cursor: pointer;
}

.login-content {
    text-align: center;
}