
body {
  padding: 0;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(220, 239, 255);
  box-shadow: 0 5px 13px rgb(167, 167, 167);
  margin-bottom: 50px;
}

.inside-main-nav {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inside-main-nav a, .logo a {
  text-decoration: none;
  color: black;
}

.inside-main-nav a:hover {
  color: blue;
}

.children {
  margin-left: 3rem;
}